{% extends 'layouts/base.html.twig' %}

{% block title %}Añade producto - Stockify{% endblock %}

{% block content %}
    <div class="wrapper">

        {% include 'parts/menu.html.twig' %}

        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                {% if app.request.attributes.get('_route') in ['product_add'] %}
                                    <h4 class="mb-3">Nuevo producto</h4>
                                {% else %}
                                    <h4 class="mb-3">Editar el producto</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        {{ form(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}