{% extends 'layouts/base.html.twig' %}

{% block title %}Products - Stockify{% endblock %}

{% block content %}

    <div class="wrapper">

        {% include 'parts/menu.html.twig' %}

        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                            <div>
                                <h1>Bienbenido!</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive mb-3">



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
